/*
 * ============================================================
 * EXECUTION
 * ============================================================
 */

docker.enabled = true


/*
 * ============================================================
 * OUTPUT DIRECTORY
 * ============================================================
 */

params.outdir =
    "${launchDir}/results/nextflow"


/*
 * ============================================================
 * PUBLISH FINAL OUTPUTS
 * ============================================================
 */

process {

    withName: FASTQC {
        publishDir = [
            path: "${params.outdir}/qc/fastqc",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: MULTIQC {
        publishDir = [
            path: "${params.outdir}/qc/multiqc",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: "${params.outdir}/alignment",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: RSEQC_INFER_EXPERIMENT {
        publishDir = [
            path: "${params.outdir}/qc/rseqc",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: FEATURECOUNTS {
        publishDir = [
            path: "${params.outdir}/counts",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: CLEAN_FEATURECOUNTS {
        publishDir = [
            path: "${params.outdir}/counts",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: FILTER_COUNTS {
        publishDir = [
            path: "${params.outdir}/counts",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: RUN_DESEQ2 {
        publishDir = [
            path: "${params.outdir}/differential-expression",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: ANNOTATE_DESEQ2 {
        publishDir = [
            path: "${params.outdir}/differential-expression",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: PLOT_VOLCANO {
        publishDir = [
            path: "${params.outdir}/figures",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: PLOT_MA {
        publishDir = [
            path: "${params.outdir}/figures",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: PLOT_PCA {
        publishDir = [
            path: "${params.outdir}/figures",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: PLOT_DE_HEATMAP {
        publishDir = [
            path: "${params.outdir}/figures",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: SAMPLE_CORRELATION {
        publishDir = [
            path: "${params.outdir}/expression-qc",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: PLOT_CORRELATION {
        publishDir = [
            path: "${params.outdir}/figures",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: FUNCTIONAL_ENRICHMENT {
        publishDir = [
            path: "${params.outdir}/functional-enrichment",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: PLOT_ENRICHMENT {
        publishDir = [
            path: "${params.outdir}/functional-enrichment/figures",
            mode: "copy",
            overwrite: true
        ]
    }


    withName: QUARTO_REPORT {
        publishDir = [
            path: "${params.outdir}/report",
            mode: "copy",
            overwrite: true
        ]
    }
}